:root{
    --titulo: #ffffff;
    --fundo: #ffffff;
    --primaria: #ffffff;

    --texto: #ffffff;
    --segundaria: rgb(33,37,41);
    --terciaria: #dadada;
    --terciaria2: #bebebe;
    --formulario: #ffffff;

    --navbar: #ffffff;
    --botaoNavHover: #dadada;
    --botaoNavText: #000000;
    --botaoNavBorder: #000000;

    --botaoSidebar: #ffffff;
    --botaoSidebarBorder: #000000;
    --botaoSidebarShadow: #000000;
    --botaoSidebarHover: rgb(33,37,41);
    --botaoSidebarHoverText: rgb(255, 255, 255);

}

.BtnMenu{ /* Botão redondo que abre o sidebar */
    border:none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--navbar);
}

.BtnMenu:hover{ /* Botão redondo que abre o sidebar */
    background-color:var(--botaoNavHover);
}

.iconBtn{ /*icones*/
    width: 20px;
    margin-right: 3px;
}

.btnNav{ /*botão do navbar*/ 
    border: 1px var(--botaoNavBorder) solid;
    background-color: var(--navbar);
    color: var(--botaoNavText)
}

.btnNav:hover{ /*botão do navbar*/ 
    border: 1px var(--botaoNavBorder) solid;
}
 
.BtnSide{ /*botão do sidebar*/ 
    width: 250px;
    height: 30px;
    margin: 5px;
    background-color: var(--botaoSidebar);
    border:1px solid var(--botaoSidebarBorder);
    box-shadow: 5px 3px 3px var(--botaoSidebarShadow);
    font-size: 16px;
    border-radius: 20px;
}

.BtnSide:hover{ /*botão do sidebar*/ 
    background-color: var(--botaoSidebarHover);
    color:var(--botaoSidebarHoverText);
}

.Navbar{
    background-color: var(--navbar);
    border-bottom: 1px var(--botaoNavBorder) solid;
}

.Logo{
    width: 40px;
}



.IconUser{
    width: 50px;
}

.IconUser:hover{
   cursor:pointer;
}

.UserOptDiv{
   margin-right: 15px;
}

.IconMenu{
    width: 30px;
}

.IconMenu:hover{
    color:var(--segundaria);
    cursor:pointer;
}


.Categorias li{
    list-style: none;
}

.Categorias li:hover{
    font-weight: bold;
}

.Categorias a{
    color:var(--segundaria);
    text-decoration: none;
}
::-webkit-scrollbar-track {
    background-color: var(--primaria);
}
::-webkit-scrollbar {
    width: 6px;
    background: var(--segundaria);

}
::-webkit-scrollbar-thumb {
    background: var(--segundaria);
}

.dropdown-item:active{
    background-color: var(--segundaria);
}

.dropdown-item:hover{
    background-color: var(--terciaria);
}


.Background{
    background-color:  var(--primaria);
}

.Color{
    color:var(--segundaria);
}

.Card{
    width: 275px;
    margin: 5px;
}

.Capa{
    width: 175px;
    border:solid 3px var(--segundaria);
}

.IconCard{
    width: 20px;
    margin-bottom: 7px;
    margin-right: 5px;

}

.IconsDiv{
    font-weight: bold;
    font-size: 18px;
}

.CardFooter{
    font-size: 12px;
}

.ColorText{
    color:var(--segundaria);
}

.Cards{
    margin-left: 15px;
}

.navMobile{
    display: none;
}

@media(max-width:785px){
    .navMobile{
        display: block;
    }

    .navDesktop{
        display: none;
    }

    .desativar{
        display: none;
    }
    
}

.Search{
    width:700px;
    background-color: var(--segundaria);
    color: var(--primaria);
}

.Form{
    width: 500px;
    background-color: var(--formulario);
    border-radius: 5px;
}

.SearchBtn{
    background-color: var(--terciaria);
}

.SearchBtn:hover{
    background-color: var(--terciaria2);
}

.loginBox{
    margin-top:10%;
}